.cat-section {
  max-width: 100%;

  .btn-nav-active {
    background-color: blue!important;
    color: #FFF!important;
  }

  .kelas-konten {
    background-color: #fff;
    padding: 25px;
    height: calc(100vh - 80px - 50px);
    overflow-x: hidden;
    overflow-y: scroll;

    .responsive-content {
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

      .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  .row {
    margin: 0px;

    .col {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .sidebar {
    height: calc(100vh - 80px);
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #fff;
    .materi_active {
      font-weight: 500 !important;
      color: rgba(6, 58, 105, 0.8);
      .md-icon.md-icon-font.md-theme-default:not(.completed) {
        color: rgba(6, 58, 105, 0.8) !important;
      }
    }
    .md-icon.md-icon-font.md-theme-default:not(.completed) {
      color: #000 !important;
    }
    .completed {
      color: green !important;
      font-weight: 600!important;
    }

    .md-list-item-content {
      min-height: 40px !important;
      &.md-ripple {
        font-size: 13px;
        font-weight: 600;
      }
    }
    .item-child-content {
      display: flex;
      font-weight: 400;
      i.md-icon {
        margin-right: 10px;
      }
      span p {
        margin-top: 10px;
        font-weight: 600;
        color: green;
      }
    }

    .md-list-item.md-inset .md-list-item-content {
      padding-left: 15px;
    }

    .md-list-item-content > .md-icon {
      margin-right: 10px;
    }

    .md-subheader.md-theme-default {
      font-weight: 800;
    }
  }

  .navigasi-konten {
    display: flex;
    justify-content: center;
    position:relative;
    z-index: 2;
  }

  span.soal_pilihan, span.kode_soal_pilihan {
    position: absolute;
    top: 10px;
  }

  span.kode_soal_pilihan {  
    left: 15px;
    z-index: 2;
    color: #FFF;
    font-weight: 700;
  }

  label > input[type=radio]:checked ~ span.kode_soal_pilihan {
    display: none;
  }

  .option-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    // top: 13.33333px;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 40px;
    transition: all 0.15s ease-out 0s;
    background: #cbd1d8;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-right: 0.5rem;
    outline: none;
  }
  .option-input:hover {
    background: #9faab7;
  }
  .option-input:checked {
    background: #40e0d0;
  }
  .option-input:checked::before {
    height: 40px;
    width: 40px;
    position: absolute;
    content: '✔';
    display: inline-block;
    font-size: 26.66667px;
    text-align: center;
    line-height: 40px;
  }
  .option-input:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  .option-input.radio {
    border-radius: 50%;
  }
  .option-input.radio::after {
    border-radius: 50%;
  }
}
