.forum-diskusi {
    .forum-konten {
        padding-top:20px;
        height: calc(100vh - 100px);
        position: relative;
    }

    .diskusi-konten {
        height: calc(100% - 100px);
        overflow: auto;
    }
    .talk-bubble {
        display: block;
        position: relative;
        width: auto;
        height: auto;
        margin-bottom:10px;
        padding-left:10px;
        padding-right:10px;
        overflow:auto;
    }
    
    /* Right triangle placed top left flush. */
    
    .left-top:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: 0px;
        right: auto;
        top: 0px;
        bottom: auto;
        border: 22px solid;
        border-color: #FFF transparent transparent transparent;
    }
    .talktext{
        display:flex;
        flex-wrap: wrap;
        width:auto;
        padding: 1em;
        text-align: left;
        line-height: 1.5em;
        background:#FFF;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);

        .img {
            margin-right: 20px;
            width: 10%;
            max-width: 50px;
            img {
                width: 100%;
            }
        }

        .content {
            width: 89%;
        }

    }
    .talktext p{
      /* remove webkit p margins */
      -webkit-margin-before: 0em;
      -webkit-margin-after: 0em;
    }
    
    .right-top:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: auto;
        right: 0px;
        top: 0px;
        bottom: auto;
        border: 22px solid;
        border-color: #afd8a8 transparent transparent transparent;
    }
    
    .right-top .talktext {
        background:#afd8a8;
    }
}